<launch>
  <arg name="module_name" default="HexPercept1" />

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find hexapod_elevation_mapping)/model/modules/$(arg module_name)/example.xacro'"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model $(arg module_name) -x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0"
    output="screen" />

</launch>
