<?xml version="1.0"?>

<robot name="sensor_module_ver1_example" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_link"/>

    <xacro:include filename="$(find hexapod_elevation_mapping)/model/sensor_assembly/sensor_module_ver1/sensor_module_ver1.xacro"/>
    <xacro:SensorModuleVer1 parent_link="base_link">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </xacro:SensorModuleVer1>
        
</robot>