<launch>
    <!-- Config -->
    <arg name="enable_trav_est" default="false"/>
    <arg name="enable_map_rviz" default="false"/>

    <arg name="world_frame_name" default="world"/>
    <arg name="base_frame_name" default="IMU_LINK"/>
    <arg name="base_odom_topic_name" default="/Odometry"/>
    <arg name="cross_barrier" default="false"/>

    <!-- Elevation Mapping Topic remap -->
    <arg name="elevation_map_topic_name" default="elevation_mapping/elevation_map" />
    <arg name="elevation_map_raw_topic_name" default="elevation_mapping/elevation_map_raw" />
    <arg name="visibility_cleanup_map_topic_name" default="elevation_mapping/visibility_cleanup_map" />
    <arg name="use_rviz" default="true"/>

    <!-- Elevation Mapping 建图程序 -->
    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/robots/hexapod201.yaml"/>
        <param name="map_frame_id" type="string" value="$(arg world_frame_name)"/>
        <param name="robot_base_frame_id" type="string" value="$(arg base_frame_name)"/>
        <param name="track_point_frame_id" type="string" value="$(arg base_frame_name)"/>
        <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/elevation_maps/prj201_map_obsacross_cfg.yaml" if="$(arg cross_barrier)"/>
        <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/elevation_maps/prj201_map_cfg.yaml" unless="$(arg cross_barrier)"/>
        <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/postprocessing/postprocessor_pipeline_prj201.yaml" />
        <remap from="elevation_mapping/elevation_map" to="$(arg elevation_map_topic_name)"/>
        <remap from="elevation_mapping/elevation_map_raw" to="$(arg elevation_map_raw_topic_name)"/>
        <remap from="elevation_mapping/visibility_cleanup_map" to="$(arg visibility_cleanup_map_topic_name)"/>
    </node>

    <!-- Traversability Estimation -->
    <group if="$(arg enable_trav_est)">
        <env name="ROSCONSOLE_CONFIG_FILE" value="$(find traversability_estimation)/config/rosconsole.conf"/>
        <node pkg="traversability_estimation" type="traversability_estimation_node" name="traversability_estimation" output="screen">
            <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/traversibility_est/robot.yaml"/>
            <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/traversibility_est/robot_footprint_parameter.yaml"/>
            <rosparam command="load" file="$(find hexapod_elevation_mapping)/config/traversibility_est/robot_filter_parameter.yaml"/>
            <param name="map_frame_id" type="string" value="$(arg world_frame_name)"/>
            <param name="robot_frame_id" type="string" value="$(arg base_frame_name)"/>
            <param name="footprint/footprint_frame_id" type="string" value="$(arg base_frame_name)"/>
        </node>
    </group>

    <!-- Rviz -->
    <group if="$(arg enable_map_rviz)">
        <node name="hex_elemap_rviz" pkg="rviz" type="rviz" args="-d $(find hexapod_elevation_mapping)/model/modules/HexPercept1/HexPercept1.rviz" required="true"/>
    </group>
</launch>
